@tailwind base;
@tailwind components;
@tailwind utilities;
.telUi input {
	font-size: 14px;
	@apply text-gray-500;
}
.telUi {
	border: 1px solid rgb(209 213 219) !important;
}
.telUi * {
	outline: none !important;
	border: none !important;
}
.telUi:focus-within * {
	outline: none !important;
	border: none !important;
}

.telUi:focus-within {
	border-color: rgb(147 197 253) !important;
}

input:-webkit-autofill {
	@apply bg-neutral-950 !important;
	-webkit-box-shadow: none !important;
	-webkit-text-fill-color: white !important;
	color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset !important;
	-webkit-text-fill-color: white !important;
	background-color: transparent !important;
	transition: background-color 9999s ease-in-out 0s;
}

.iji > input:-webkit-autofill,
.iji > input:-webkit-autofill:hover,
.iji > input:-webkit-autofill:focus,
.iji > input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset !important;
	-webkit-text-fill-color: rgb(75, 85, 99) !important;
	background-color: transparent !important;
	transition: background-color 9999s ease-in-out 0s;
}
